 html {

	background:linear-gradient(#e6ffff,#ccffff);
	border:solid 30px #ffffff;
	border:40px blue;
	padding:20px;
	text-align:center;
	margin-bottom:40px;
	background-image:url("http://rlv.zcache.com/blue_dog_paw_prints_fabric-rdc0b82d946c245ac88a4c7f5061589e2_zl6q7_324.jpg?rlvnet=1");
}
h1{
	font-size:70px;
	font: Copperplate;
	color:white;
	
	text-align:center;
	margin-bottom:3px;
	margin-left:300px;
	margin-right:350px;
	background: #cceeff;


}
main p{
	color:black;
	
	

}
nav{
	color:white;
	padding-top:20px;
	padding-right:25px;
}
html,main {
	font-family:arial;


}
article{

	border-width:30px;
	border-color:#cce6ff;
	margin:30px;	
	background:white;	
	margin-left:250px;
	margin-right:250px;
	padding:1px;
	border-radius:30px;
	font-size:20px;
	
	
}
ul{
	margin-top:30px;
	transform:translate(100px,0px);

}
p{
	color:black;
	margin-top:30px;
	

}
img{
	margin-top:0px;
	padding-top:0px;
}
	

 	




