html {

	background:linear-gradient(#e6ffff,#ccffff);
	border:solid 30px #ffffff;
	box-shadow: 20px 10px 20px #ffffff;

}
h1{
	font-size:20px;
	color:blue;		
	


}
main p{
	color:white;
	background:linear-gradient(#e6e6ff,#cce6ff);
	

}
nav{
	background:linear-gradient(#e6e6ff,#cce6ff);
}

html {
	\


