html {

	background:linear-gradient(#e6ffff,#ccffff);
	border:solid 30px #ffffff
	box-shadow: 20px 10px 20px #ffffff;
}
h1 {
	opacity: 0.8;
	text-align: center;
	color:#ababab; 
	text-shadow: 10px 10px #ffffff;
	font-size:50px;
	font-family:Copperplate Gothic Light;
	background-color:#e6ffff;
	border:solid 10px #ccffff;
	
h2 {
	color: #bfbfbf;
	font-size:37px;
	text-align: center;
	font-family:Courier New;
	background:linear-gradient(#cceeff, #ffffff);
	border:solid 10px #ccffff;
	
}	
p {
	color:#66b3ff;
	font-size:28px;
	font-family:Courier New;
	font-style: oblique;
	background-color:#e6ffff; 
	border:solid 10px #ccffff;
	border-color: #ffffff; 

}

html {
	background-image:url("https://s-media-cache-ak0.pinimg.com/originals/74/3a/26/743a26da2b89f72198339ff19e0fea20.png");
}

