html {	
	background:#ffffff;
	border:solid 30px #ffffff
	border-left-width:thin;
	border-left: groove 10px orange;
	border-right: groove 10px orange;
	
}
h1 {
	font-family:Impact;
	background-color:#228B22;
	color:#FFFF00;
	font-style: italic;	
	border-bottom:dashed 5px;
	
	
}	
h2 {
	color: #FFFF00;
	font-size:23px;
	font-family:Arial;
	background:#800080;


	

}	

h3 {
	background:#FFFF00;
	color:#800080;
	border-top:dashed 2px;
}
p:nth-child(2){
	background-color:#FF0000;
	font-style: italic;
	font-family:Impact;
	color:#0000ff;
	border-bottom:dashed 10px;
	border-color:#FFFF00;
	margin:-22px;
	padding:18px;
	margin-left:1px;
	margin-right:1px;
	font-size:15px;
	
}
p {
	background:#ffffff;
	font-family:Arial;
	font-size:15px;
	color:#0000ff;
	
	
	

